<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ct" content="<%= ct %>">
    <title>Speech to Text</title>
    <link href="css/watson-bootstrap-style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" />


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/moritz.css">

    <style type="text/css">
    #recordButton {
      width: 100%;

    }
    #recordButton .nav-label {
      color: #333;
      font-size: 3em;
      width: auto;
      display: block;
      left: 0px;
      top: 14px;
      }
      #recordButton:hover {
        background-color: transparent;
      }
      #textbox {
        margin: 5px;
        height: 91px !important;
        overflow: hidden;
        float: left;
        width: 570px;
        font-size: 1.8em;
        text-align: left;
        padding: 20px;
        margin: 0 !important;
    }
    </style>

  </head>
  <body>

<video id="video" width="100%" height="100%" autoplay></video>
    <canvas id="canvas" width="640" height="250"></canvas>


<div class="background outer">
      <div class="inner transbox transbox2" id="toggler">
        <ul class="navbar-text">
            <li id="recordButton" class="button-row nav-inverse-color" style="color:#333333">
            
            <span class="nav-label" style="color:#333333">Start</span>
            </li>
          </ul>
        <div id="visible-wrapper">
          <div id="textbox" class="hide"></div>
              <textarea readonly id="resultsText" dir="auto" class="hide"></textarea>
        </div>
      </div>
    </div>

  


  


      <!-- for file upload dialog in toolbar -->
      <input style="display:none" type="file" id="fileUploadDialog">

      <!-- Place js files at the end of the document, with fallbacks for CDNs -->
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<script type="text/javascript">
  
      var context = null;

      window.addEventListener("DOMContentLoaded", function() {
      // Grab elements, create settings, etc.
      var canvas = document.getElementById("canvas"),
        video = document.getElementById("video"),
        videoObj = { "video": true },
        errBack = function(error) {
          console.log("Video capture error: ", error.code); 
        };
        context = canvas.getContext("2d");
        // console.log(context);

      // Put video listeners into place
      if(navigator.getUserMedia) { // Standard
        navigator.getUserMedia(videoObj, function(stream) {
          video.src = stream;
          video.play();
        }, errBack);
      } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
        navigator.webkitGetUserMedia(videoObj, function(stream){
          video.src = window.webkitURL.createObjectURL(stream);
          video.play();
        }, errBack);
      }
      else if(navigator.mozGetUserMedia) { // Firefox-prefixed
        navigator.mozGetUserMedia(videoObj, function(stream){
          video.src = window.URL.createObjectURL(stream);
          video.play();
        }, errBack);
      }
      function loader() {
        context.drawImage(video, 20, 0, 640, 480);
        console.log("jo");
      };
      loader();

    }, false);
    </script>


      <script src="js/index.js"></script>
      <script src="js/moritz.js">
    </script>
  </body>
</html>
