<!DOCTYPE html>
<html>

  <head>
    <title>NodeJS Starter Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/moritz.css">
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href="view.html"> -->
  </head>

  <body id="mainbody">

      <div id="outer" class="gap" style="width:100%">
        <h1 id="inner" id="headers"> YALLA</h1>
      </div>
      
      <div id="outer" style="width:100%">  
        <div id="inner">app@night</div>
      </div>


      <div id="outer" style="width:100%"> 
        <a href="view.html" class="myButton">Start</a>
      </div>







    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="js/moritz.js"></script>
  </body>
</html>
