/* style.css
 * This file provides css styles.
 */


body {
    background-image: url("http://img14.deviantart.net/625b/i/2007/353/2/d/blurred_christmas_lights_by_aquietfailure.jpg");
    background-size: cover;                    /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
                  /* optional, center the image */
}

h1 {
	font-size: 3.5em;
}

.gap {
	position: relative;
	top: 150px;
}

#headers { 
	font-size: 4em; 
}

#outer {
  width: 100%;
  text-align: center;
  position: relative;
}

#inner {
  display: inline-block;
  position: relative;
}

.inner {
  display: inline-block;
  position: relative;
}

.outer {
  width: 100%;
  text-align: center;
  position: relative;
}


.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	border-radius:24px;
	border:4px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:2.5em;
	font-weight:bold;
	padding:15px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin-top: 300px;
	position: relative;

}

.myButton:active {
	position:relative;
	top:4px;
}



div.background {
  z-index: 11;
  position: absolute;
}

.transbox1 {
  border-radius: 10px;
  margin: 30px;
  margin-top: 100px;
  background-color: #ffffff;
  border: 5px solid #00FF00;
  opacity: 0.6;
  filter: alpha(opacity=60);
  width: 60vh;
  height: 120px;
   /* For IE8 and earlier */
}

.transbox2 {
  border-radius: 10px;
  margin: 30px;
  margin-top: 100px;
  background-color: #ffffff;
  border: 5px solid gray;
  opacity: 0.6;
  filter: alpha(opacity=60);
  width: 60vh;
  height: 120px;
   /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  width: 60vh;
  height: 30px;
  font-weight: bold;
  color: #000000;
  font-size: 1.5em;
}

.hide {
  display: none;
}

.show {

}

#arrow {
	position: relative;
	top: 5px;
}
.move_left_up {
  text-align: left !important;	
  margin-top: -80px !important;
  margin: 5%;
  width: 60vh;
  height: 30px;
  font-weight: bold;
  color: #000000;
  font-size: 1em;
  z-index: 3;
}

.move_textbox {
    text-align: left !important;
    margin-top: -98px !important;
    margin-left: 100px !important;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 45vh;
    height: 30px;
    font-weight: bold;
    color: #000;
    font-size: 1.5em;
    z-index: 5;
}

#textbox {
    margin: 5px;
    height: 91px !important;
    overflow: hidden;
}


#canvas {
	z-index: 10;
}


#video {
	z-index: 11;
	position: absolute;
}


